// styling sheet for Links.tsx 
.header {
  overflow: auto;
  margin: 2px 1px 2px -8px;
  padding: 2%;
}

.addNotes {
  color: black;
  font-size: large;
  float: left;
  margin: 2%;
  font-weight: bold;
}

.addNoteImage {
  margin-top: 5px;
  float: right;
}

.addNoteImage > img {
  width: 24px;
}

.addNoteImage > img:hover {
  cursor: pointer;
  width: 26px;
}

.form {
  overflow: auto;
  margin: 2px 1px 2px 2px;
}

#title {
  width: 70%;
}

#url {
  width: 70%;
}

#urlLable {
  margin: 4px;
}

.alertMessage {
  color: red;
  display: inline-block;
  margin-left: 5px;
}

.addButton {
  float: right;
  font-size: inherit;
  background-color: #1313eaa1;
  border: none;
  color: white;
  padding: 6px 14px;
  text-align: center;
  font-size: 14px;
  margin: 0px 8px 8px 0px;
  cursor: pointer;
}

.cancelButton {
  float: right;
  background-color: #a9a9a9b8;
  border: none;
  color: black;
  padding: 6px 14px;
  text-align: center;
  font-size: 14px;
  margin: 0px 8px 8px 0px;
  cursor: pointer;
}

.link {
  height: fit-content;
  max-height: 180px;
  overflow: auto;
}

.linkItems {
  margin: 2px 8px 7px 2px;
  overflow: auto;
  padding: 5px;
  font-size: 16px;
}

.linkText {
  width: 87%;
  float: left;
  overflow: hidden;
  text-decoration: none;
  margin-left: 5px;
}

.linkText:hover {
  cursor: pointer;
  color: blue;
}

.linkImage {
  display: inline-grid;
  margin-left: 11px;
  width: 14px;
}

.linkImage:hover {
  cursor: pointer;
  width: 16px;
}
