.homePage {
  text-align: center;
  margin: 10px;
}

.notes {
    color: black;
    font-size: initial;
    padding: 5px;
    margin: 5px;
    text-align: center;
}
.notes:hover {
  background-color: darkgrey;
  cursor: pointer;
  color: dimgrey;
}
