/* To give styling to main home page
    Imported in Popup.tsx
*/

$primary-color: darkblue;
$background-color: #bada55;
body {
    background-color:#fae84859;
}

.backButton {
    margin-bottom: -8px;
    width: 23px;
    cursor: pointer;
    padding-bottom: 5px;
}

.backButton:hover{
    width: 25px;
    padding-bottom: 3px;
}